// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #409EFF; //主题系默认配色
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#343434;
$menuActiveText:$green;
$subMenuActiveText:#343434; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#eef5fe;

$subMenuBg:#f6f8f9;
$subMenuHover:#eef5fe;

$sideBarWidth: 210px;
$sideBarHeight:calc(100% - 100px);

//边框颜色
$borderAsh:#e0e0e0;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
